
<h1>
  {{title}}
</h1>
<lib-list [headers]="headers"></lib-list>
<form #loginForm="ngForm" novalidate (submit)="login()">
  <mat-form-field>
    <input matInput required type="text" [(ngModel)]="user.username" name="username" placeholder="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput required type="password" [(ngModel)]="user.password" name="username" placeholder="password">
  </mat-form-field>
  <div class="form-group">
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="accent" routerLink = "/register">Register New User</button>
  </div>
</form>