<p>
 department works!
</p>
<div>
  Id: {{dep.Id}}
  Name : {{dep.Name}}
  Contact:{{dep.Contact}}
</div>

<!-- <div [hidden]="hidden">
  <h1>
    Name : {{name}}
  </h1>
</div> -->

<h1>Name : {{name}}</h1>
{{hidden}}
<!-- {{deplist|json}} -->
<button class="btn btn-primary" (click)="toggle()"> click me</button>


<table [ngClass]="hidden ?'table':'' ">
  <thead>
    <th>Department_Id</th>
    <th>Department_Name</th>
    <th>Department_Contact</th>
  </thead>
  <tbody>
    <tr *ngFor="let department of deplist ">
      <td>{{department.Id}}</td>
      <td [innerText]="department.Name"></td>
      <td>{{department.Contact}}</td>
    </tr>  </tbody>
</table>