

<app-todo-add-new></app-todo-add-new>

<hr>
<h1>ToDos</h1>
<table class="table">
  <thead>
    <th>ID</th>
    <th>User_ID</th>
    <th>Title</th>
    <th>Completed</th>
    <th>Edit</th>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.userId}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.completed}}</td>
      <td>
        <button class="btn btn-success" [routerLink]="['/todos',todo.id]">edit</button>
      </td>

    </tr>
  </tbody>
</table>