<h1>
  Add Post.=> Template Driven form Create.
</h1>

{{postForm.valid | json }}
{{postForm.invalid | json }}
{{postForm.pristine | json }}
{{postForm.dirty | json }}
<!-- {{posts | json}} -->
<form #postForm="ngForm" (submit)="addPost();postForm.reset()" novalidate>
  <mat-form-field>
    <div>
      <input matInput #number="ngModel" type="number" required [(ngModel)]="posts.userId" name="userId" 
        placeholder="User Id">
    </div>
    <div *ngIf="number.invalid" class="row">
      <!-- {{number.valid | json }}
          {{number.invalid | json }}
          {{number.pristine | json }}
          {{number.dirty | json }} -->
      <span class="alert alert-danger">Please provide UserID</span>
    </div>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput required [(ngModel)]="posts.title" name="title"  placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput required [(ngModel)]="posts.body" name="body"  placeholder="Body">
    </mat-form-field>

    <div *ngIf="posts.id===0" class="form-group">
      <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary">Add-Post</button>
    </div>
    <div *ngIf="posts.id>0" class="form-group">
      <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary">Update-Post</button>
    </div>

</form>