<h1>
  Add Post
</h1>

{{postForm.valid | json }}
{{postForm.invalid | json }}
{{postForm.pristine | json }}
{{postForm.dirty | json }}
<!-- {{posts | json}} -->
<form #postForm="ngForm" (submit)="addPost();postForm.reset()" novalidate>
  <div class="form-group">
    <div>
        <input #number="ngModel" type="number" required [(ngModel)]="posts.userId" name="userId" class="form-control"
        placeholder="User Id">
    </div>
      <div *ngIf="number.invalid" class="row">
          <!-- {{number.valid | json }}
          {{number.invalid | json }}
          {{number.pristine | json }}
          {{number.dirty | json }} -->
          <span class="alert alert-danger">Please provide UserID</span>
        </div>
  </div>
  <div class="form-group">
    <input type="text" required [(ngModel)]="posts.title" name="title" class="form-control" placeholder="Title">
  </div>
  <div class="form-group">
    <input type="text" required [(ngModel)]="posts.body" name="body" class="form-control" placeholder="Body">
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary">Add Post</button>
  </div>
</form>