<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- 
  <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
      <app-employee></app-employee>
    </div>
    <div *ngSwitchCase="'User'">
      <app-department></app-department>
    </div>
    <div *ngSwitchDefault>
        No role defined
      </div>
  </div> -->

  <!-- app-container is a container which is use for set priorty shedule for diffferent component numboring like first & second  -->

  <!-- <app-container>
    <app-employee></app-employee>
    <app-product></app-product>
    <app-department></app-department>
  </app-container> -->
  <hr>

   <!-- <app-book-component></app-book-component>  -->
   <!-- <app-todos></app-todos> -->
    <app-employee></app-employee>
 
<!--   <app-posts></app-posts>
   <app-photos></app-photos> -->

  <router-outlet></router-outlet>
</div>