
<!-- Grey with black text -->
<nav *ngIf="loginservice.isLoggedin"class="navbar navbar-expand-sm bg-danger navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="department">Department</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="photos">PHOTOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="booksDetails">Book-Deails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="product">PRODUCT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="posts">POSTS</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="todos">TODOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile">Profile</a>
    </li>
    
    
  </ul>
  <div *ngIf="loginservice.isLoggedin">
  Hallo {{loginservice.currentuser|user}}
  </div>
</nav>


<!--The content below is only a placeholder and can be replaced.-->
<div>
      
  <!-- 
  <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
      <app-employee></app-employee>
    </div>
    <div *ngSwitchCase="'User'">
      <app-department></app-department>
    </div>
    <div *ngSwitchDefault>
        No role defined
      </div>
  </div> -->

  <!-- app-container is a container which is use for set priorty shedule for diffferent component numboring like first & second  -->

  <!-- <app-container>
    <app-employee></app-employee>
    <app-product></app-product>
    <app-department></app-department>
  </app-container> -->
  <hr>

  <!-- <app-book-component></app-book-component>  -->
  <!-- <app-todos></app-todos> -->
  <!-- <app-employee></app-employee> -->

  <!--   <app-posts></app-posts>
   <app-photos></app-photos> -->

  <router-outlet></router-outlet>
</div>