/* You can add global styles to this file, and also import other style files */
/* Add Bootstrap Library from which we imported. */
@import '~bootstrap/dist/css/bootstrap.css'; 
 h1
{
    background-color: steelblue;
    color: white;
} 

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}
.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}